<%- include('../templates/navbar') -%>

  <div class="container-fluid mt-3">
    <div class="jumbotron">
         <h3>Example Express OOP and MVC Architecture</h3>

        <ul class="navbar-nav mt-3 mx-auto">

          <li class="nav-item">
            <p class="lead font-weight-light"><strong>Express.js</strong> is one of the most popular web frameworks in the world of Node.js. Complete documentation and fairly easy use, can make us develop various products such as web applications or RESTful APIs. Express.js can also be used as a basis for building more complex web frameworks such as, Sails.js, MEAN (MongoDB, Express.js, Angular.js, Node.js) and MERN (MongoDB, Express.js, React.js, Node.js)</strong>.
            </p>
          </li>

          <li class="nav-item">
          <p class="lead font-weight-light"><strong>Model-View-Controller</strong> or MVC is a method to create an application by separating the data (Model) from the view (View) and how to process it (Controller). In its implementation, most frameworks in web applications are based on the MVC architecture, MVC separates application development based on the main components that build an application such as data manipulation, user interfaces, and parts that control in a web application.</p>
          </li>
        </ul>

    </div>
  </div>

<%- include('../templates/footer') -%>