.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


.dot{
    border-bottom: 1px dotted grey;
    top: 50%;
    position: absolute;
    left: 0px;
}
.font-weight-bold{
    font-weight: 500;
}

.mat-icon-font{
    font-size: 15px;
}